<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.testProject.repository.RequireRepository">

    <!-- ✅ 전체 목록 조회 -->
    <select id="getAllRequires" resultType="com.example.testProject.dto.RequireDTO">
        SELECT 
            seq, 
            project_name, 
            business_sector, 
            project_overview, 
            requester_position, 
            current_issue, 
            expected_effect, 
            final_deliverables, 
            requester_id, 
            requester_email, 
            requester_phone, 
            process_state, 
            insert_dt, 
            complete_dt, 
            complete_dt
        FROM ca1000_10;
    </select>

    <!-- ✅ 특정 SEQ 데이터 조회 -->
    <select id="getRequire" parameterType="int" resultType="com.example.testProject.dto.RequireDTO">
        SELECT 
            seq, 
            project_name, 
            business_sector, 
            project_overview, 
            requester_position, 
            current_issue, 
            expected_effect, 
            final_deliverables, 
            requester_id, 
            requester_email, 
            requester_phone, 
            process_state, 
            insert_dt, 
            complete_dt, 
            complete_dt
        FROM ca1000_10
        WHERE seq = #{seq};
    </select>
    
    <!-- 검색 조건에 따른 요청 목록 조회 -->
    <select id="searchRequiresByCriteria" parameterType="com.example.testProject.dto.RequireSearchCriteria" resultType="com.example.testProject.dto.RequireDTO">
        SELECT 
            seq, 
            project_name, 
            business_sector, 
            project_overview, 
            requester_position, 
            current_issue, 
            expected_effect, 
            final_deliverables, 
            requester_id, 
            requester_email, 
            requester_phone, 
            process_state, 
            insert_dt, 
            complete_dt, 
            complete_dt
        FROM ca1000_10
        <where>
            <if test="requesterId != null and requesterId != ''">
                requester_id = #{requesterId}
            </if>
        </where>        
        ORDER BY seq DESC
    </select>    

</mapper>
