<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.connectBoard.repository.spc.MenuItemRepository">

    <resultMap id="menuItemResultMap" type="com.example.connectBoard.dto.response.MenuItemResponseDto$MenuItem">
        <result property="mCode" column="mCode"/>
        <result property="mName" column="mName"/>
        <result property="mComment" column="mComment"/>
        <result property="mLev" column="mLev"/>
        <result property="mAuth" column="mAuth"/>
        <result property="mIcon" column="mIcon"/>
        <result property="mGBN" column="mGBN"/>
    </resultMap>
    

    <select id="getMenuItems" parameterType="com.example.connectBoard.dto.request.MenuItemRequestDto" 
            resultMap="menuItemResultMap">
        EXEC MainMenu #{auth}, #{id}
    </select>
    
    
    
    
    <resultMap id="menuItemDTOResultMap2" type="com.example.connectBoard.dto.MenuItemDTO">
        <result property="mCode" column="mCode"/>
        <result property="mName" column="mName"/>
        <result property="mComment" column="mComment"/>
        <result property="mLev" column="mLev"/>
        <result property="mAuth" column="mAuth"/>
        <result property="mIcon" column="mIcon"/>
        <result property="mGBN" column="mGBN"/>
    </resultMap>    

    
	<!-- 대메뉴 목록 조회 -->
	<select id="getMainMenuCodes" resultMap="menuItemDTOResultMap2"> 
	    SELECT 
	        M_CODE AS mCode,
	        M_NAME AS mName,
	        M_COMMENT AS mComment,
	        M_GBN AS mGBN,
	        CONVERT(VARCHAR, 1) AS mLev, 
	        CONVERT(VARCHAR, 31) AS mAuth, 
	        ICON AS mIcon
	    FROM sys_menu
	    WHERE LEN(M_CODE) = 2 AND VALID = 1
	    ORDER BY IDX, M_CODE
	</select>
	
	
	<!-- 특정 대메뉴와 하위 메뉴 조회 -->
	<select id="getAllMenu" resultMap="menuItemDTOResultMap2">	
	    SELECT mCode, mName
	    FROM (
	        SELECT 
	            m_code AS mCode, 
	            m_name AS mName, 
	            * 
	        FROM sys_menu
	        WHERE LEN(m_code) = 2
	
	        UNION ALL
	
	        SELECT 
	            m_code AS mCode, 
	            m_name AS mName, 
	            * 
	        FROM sys_menu
	        WHERE LEN(m_code) > 4
	    ) AS t
	    WHERE 1 = 1
	    ORDER BY mCode;
	</select>


</mapper>


