<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.connectBoard.repository.spc.RequireRepository">
	
	<!-- 검색 조건에 따른 요청 목록 조회 -->
	<select id="searchRequiresByCriteria" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="com.example.connectBoard.dto.RequireDTO">
		SELECT
		    b.seq,
	        b.sub,
		    d.CORP_NM as division,
		    d.DEPT_NM as dpNm,
		    b.context,
		    b.uId,
		    b.usem,
			b.processState,
			c.codeName AS statusNm,	    
			b.manager,
			b.managerId,
			b.managerTel,
			b.managerEmail,
		    b.requestDate,
		    b.requestDate AS requestDateTime,
		    b.completeDate,
		    b.completeDt,
		    b.srFlag,
		    b.saveFlag,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = b.inquiryType) as inquiryType,
		    b.inquiryPart,
		    b.priority,
		    (SELECT COUNT(*) FROM COMMENTS WHERE postid = b.seq) as countComment   	
		FROM board b 		  
		  inner join code_master c on b.processState = c.codeId		
		  left outer join SPG.DBO.CRM_USER_MASTER d on b.writerId = d.USR_ID					
	<where>
	    b.deleteYn = 'N'
	    
	    <if test="manager != null and manager != ''">
	        AND b.manager LIKE '%' + #{manager} + '%'
	    </if>
	    		
	    <if test="startDate != null and startDate != ''">
	        AND b.requestDate >= #{startDate}
	    </if>
	    
	    <if test="endDate != null and endDate != ''">
	        AND
	         b.requestDate &lt;= #{endDate}
	    </if>
	    
	    <if test="sub != null and sub != ''">
	        AND b.sub LIKE '%' + #{sub} + '%'
	        <!-- AND b.projectName LIKE '%' + ? + '%' COLLATE SQL_Latin1_General_CP1_CI_AS -->
	    </if>	
	    
	    <if test="status != null and status != ''">
	        AND b.processState LIKE '%' + #{status} + '%'
	        <!-- AND b.projectName LIKE '%' + ? + '%' COLLATE SQL_Latin1_General_CP1_CI_AS -->
	    </if>
	    
	    <if test="dpId != null and dpId != '' and dpId != 'SPH220007'">
        	AND b.dpId LIKE '%' + #{dpId} + '%'
    	</if>  
    	
	    <if test="division != null and division != ''">
	        AND b.division LIKE '%' + #{division} + '%'	        
	    </if>
    	

    	 
	     	
	</where>
		ORDER BY b.seq DESC
	</select>
	
	
	<select id="searchRequiresByCriteriaUser" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="com.example.connectBoard.dto.RequireDTO">
		SELECT
		    b.seq,
	        b.sub,
		    d.CORP_NM as division,
		    d.DEPT_NM as dpNm,
		    b.context,
		    b.uId,
		    b.usem,
			b.processState,
			c.codeName AS statusNm,	    
			b.manager,
			b.managerId,
			b.managerTel,
			b.managerEmail,
		    b.requestDate,
		    b.requestDate AS requestDateTime,
		    b.completeDate,
		    b.completeDt,
		    b.srFlag,
		    b.saveFlag,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = b.inquiryType) as inquiryType,
		    b.inquiryPart,
		    b.priority,
		    (SELECT COUNT(*) FROM COMMENTS WHERE postid = b.seq) as countComment
		FROM board b 
			left join code_master c on b.processState = c.codeId
			left outer join SPG.DBO.CRM_USER_MASTER d on b.writerId = d.USR_ID					
	<where>
	    b.deleteYn = 'N'
	    
	    <if test="startDate != null and startDate != ''">
	        AND b.requestDate >= #{startDate}
	    </if>
	    
	    <if test="endDate != null and endDate != ''">
	        AND
	         b.requestDate &lt;= #{endDate}
	    </if>
	    	    
		<if test="writerId != null and writerId != ''">
			AND b.writerId = #{writerId}
		</if>		    
		
 		<if test="managerId != null and managerId != ''">
			AND b.managerId = #{managerId}
		</if>		  
	</where>
		ORDER BY b.seq DESC
	</select>
	
	
	
	
	<select id="searchRequiresByCriteriaDepart" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="com.example.connectBoard.dto.RequireDTO">
		SELECT
		    b.seq,
	        b.sub,
		    d.CORP_NM as division,
		    d.DEPT_NM as dpNm,
		    b.context,
		    b.uId,
		    b.usem,
			b.processState,
			c.codeName AS statusNm,	    
			b.manager,
			b.managerId,
			b.managerTel,
			b.managerEmail,
		    b.requestDate,
		    b.requestDate AS requestDateTime,
		    b.completeDate,
		    b.completeDt,
		    b.srFlag,
		    b.saveFlag,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = b.inquiryType) as inquiryType,
		    b.inquiryPart,
		    b.priority,
		    (SELECT COUNT(*) FROM COMMENTS WHERE postid = b.seq) as countComment
		FROM board b 
			INNER JOIN sys_empref e ON b.writerId = e.id
			left join code_master c on b.processState = c.codeId
			left outer join SPG.DBO.CRM_USER_MASTER d on b.writerId = d.USR_ID					
	<where>
	    b.deleteYn = 'N'
	    
	    <if test="startDate != null and startDate != ''">
	        AND b.requestDate >= #{startDate}
	    </if>
	    
	    <if test="endDate != null and endDate != ''">
	        AND
	         b.requestDate &lt;= #{endDate}
	    </if>
		
 		<if test="writerId != null and writerId != ''">
			and e.depart1 = (
			    SELECT depart1 
			    FROM sys_empref 
			    WHERE id = #{writerId}
			) 				    
		</if>	
	</where>
		ORDER BY b.seq DESC
	</select>	
	
	
	<select id="searchRequiresByCriteriaDepartAdmin" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="com.example.connectBoard.dto.RequireDTO">
		SELECT
		    b.seq,
	        b.sub,
		    d.CORP_NM as division,
		    d.DEPT_NM as dpNm,
		    b.context,
		    b.uId,
		    b.usem,
			b.processState,
			c.codeName AS statusNm,	    
			b.manager,
			b.managerId,
			b.managerTel,
			b.managerEmail,
		    b.requestDate,
		    b.requestDate AS requestDateTime,
		    b.completeDate,
		    b.completeDt,
		    b.srFlag,
		    b.saveFlag,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = b.inquiryType) as inquiryType,
		    b.inquiryPart,
		    b.priority,
		    (SELECT COUNT(*) FROM COMMENTS WHERE postid = b.seq) as countComment
		FROM board b 
			INNER JOIN sys_empref e ON b.writerId = e.id
			left join code_master c on b.processState = c.codeId
			left outer join SPG.DBO.CRM_USER_MASTER d on b.writerId = d.USR_ID					
	<where>
	    b.deleteYn = 'N'
	    
	    <if test="startDate != null and startDate != ''">
	        AND b.requestDate >= #{startDate}
	    </if>
	    
	    <if test="endDate != null and endDate != ''">
	        AND
	         b.requestDate &lt;= #{endDate}
	    </if>
		
 		<if test="managerId != null and managerId != ''">
			and e.depart1 = (
			    SELECT depart1 
			    FROM sys_empref 
			    WHERE id = #{managerId}
			) 				    
		</if>	
	</where>
		ORDER BY b.seq DESC
	</select>		
	

	<!-- 게시글 등록2 -->	
	<insert id="insertRequire" 
	         parameterType="com.example.connectBoard.dto.RequireDTO"
	         useGeneratedKeys="true" 
	         keyProperty="seq" 
	         keyColumn="seq">	
        INSERT INTO board (
            sub,
            etc,
            division,
            requestDate,
            insertDt,
            updateDt,
            writerId,
            uId,
            dpId,
            manager,
            managerId,
            managerTel,
            managerEmail,
            inquiryType,
			inquiryPart,
			priority
        ) VALUES (
            #{sub, jdbcType=VARCHAR},
            #{etc, jdbcType=VARCHAR},
            #{division, jdbcType=VARCHAR}, 
            GETDATE(),
            GETDATE(),
            GETDATE(),
            #{writerId, jdbcType=VARCHAR},
            #{uId, jdbcType=VARCHAR},
            #{dpId, jdbcType=VARCHAR},
            #{manager, jdbcType=VARCHAR},
            #{managerId, jdbcType=VARCHAR},
            #{managerTel, jdbcType=VARCHAR},
            #{managerEmail, jdbcType=VARCHAR},
            #{inquiryType, jdbcType=VARCHAR},
            #{inquiryPart, jdbcType=VARCHAR},
            #{priority, jdbcType=VARCHAR}
    	)
    	
	</insert>	

	
	<!-- ✅ 모든 데이터 조회1212 -->
	<select id="getAllRequires" resultType="com.example.connectBoard.dto.RequireDTO">
		select
			b.seq,
			b.sub,
			b.context,
			b.taskName,
			b.help,
			b.necessity,
			b.effect,
			b.module,
			b.beforeTaskContent,
			b.afterTaskContent,
			b.useDept,
			b.attachDoc,
			b.requestDate,
			b.acceptDate,
			b.completeRequestDate,
			b.completeDate,
			b.etc,
			b.uId,
			b.usem,
			b.dpId,
			b.dpDn,
			b.manager,
			b.managerId,
			b.managerTel,
			b.managerEmail,
			b.division,
			b.processState,
			b.saveFlag,
			b.srFlag,
			b.docNum,
			b.insertDt,
			b.updateDt,
			b.completeDt,
			(SELECT codeName FROM CODE_MASTER WHERE codeId = b.inquiryType) as inquiryType,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = b.inquiryPart) as inquiryPart,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = b.priority) as priority
		from board;	
		
	</select>
	
	<!-- ✅ 특정 SEQ 데이터 조회 -->
	<select id="getRequire" parameterType="int" resultType="com.example.connectBoard.dto.RequireDTO">
		select
			a.seq,
			a.sub,
			a.context,
			a.taskName,
			a.help,
			a.necessity,
			a.effect,
			a.module,
			a.beforeTaskContent,
			a.afterTaskContent,
			a.useDept,
			a.attachDoc,
			a.requestDate,
			a.acceptDate,
			a.completeRequestDate,
			a.completeDate,
			a.etc,
			a.uId,
			a.writerId,
			a.usem,
			a.dpId,
			a.dpDn,
			a.manager,
			a.managerId,
			a.managerTel,
			a.managerEmail,
			a.division,
			a.processState,
			a.saveFlag,
			a.srFlag,
			a.state_sr as stateSr ,
			a.docNum,
			a.insertDt,
			a.updateDt,
			a.completeDt,
			b.phone as writerPhone,
			a.inquiryType ,
			a.inquiryPart ,
			a.priority ,
			(SELECT codeName FROM CODE_MASTER WHERE codeId = a.inquiryType) as inquiryTypeNm,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = a.inquiryPart) as inquiryPartNm,
		    (SELECT codeName FROM CODE_MASTER WHERE codeId = a.priority) as priorityNm
		from board a
		 left outer join sys_empref b on a.writerId = b.id
		where seq = #{seq};
	</select>

	<update id="updateForm" parameterType="com.example.connectBoard.dto.RequireDTO">
	    UPDATE board
	    <set>
	        <if test="sub != null and sub != ''">
	            sub = #{sub},
	        </if>
	        <if test="etc != null and etc != ''">
	            etc = #{etc},
	        </if>
	        <if test="manager != null and manager != ''">
	            manager = #{manager},
	        </if>
	        <if test="managerId != null and managerId != ''">
	            managerId = #{managerId},
	        </if>
	        <if test="managerEmail != null and managerEmail != ''">
	            managerEmail = #{managerEmail},
	        </if>
	        <if test="managerTel != null and managerTel != ''">
	            managerTel = #{managerTel},
	        </if>
	        <if test="inquiryType != null and inquiryType != ''">
	            inquiryType = #{inquiryType},
	        </if>
	        <if test="inquiryPart != null and inquiryPart != ''">
	            inquiryPart = #{inquiryPart},
	        </if>
	        <if test="priority != null and priority != ''">
	            priority = #{priority},
	        </if>
	        <if test="deleteYn != null and deleteYn != ''">
	            deleteYn = #{deleteYn},
	        </if>	        
	        saveFlag = 'Y',
	        updateDt = GETDATE()
	    </set>
	    WHERE seq = #{seq}
	</update>
	
	<update id="updateSrForm" parameterType="com.example.connectBoard.dto.RequireDTO">
   		UPDATE board 
    	SET sub = #{sub},
    		taskName = #{taskName},
    		help = #{help},
    		necessity = #{necessity},
    		effect = #{effect},
    		module = #{module},
    		beforeTaskContent = #{beforeTaskContent},
    		afterTaskContent = #{afterTaskContent},
    		useDept = #{useDept},
    		attachDoc = #{attachDoc},
    		requestDate = #{requestDate},
    		acceptDate = #{acceptDate},
    		completeRequestDate = #{completeRequestDate},
    		completeDate = #{completeDate},
    		saveFlag = 'Y',
    		etc = #{etc}
    	WHERE seq = #{seq};
	</update>
	
	<!-- 통계 -->
	<select id="getDashboardData" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="com.example.connectBoard.dto.RequireSearchCriteria">
		SELECT 
		  
		    COUNT(*) AS totalCount,
		    
		    
		    SUM(CASE WHEN processState = 'C' THEN 1 ELSE 0 END) AS completeCount,
		    
		    
		    CASE 
		        WHEN COUNT(*) = 0 THEN 0 
		        ELSE ROUND(
		            CAST(SUM(CASE WHEN processState = 'C' THEN 1 ELSE 0 END) AS FLOAT) / COUNT(*) * 100, 
		            1
		        ) 
		    END AS completeRate,
		    		    
		    CASE 
		        WHEN SUM(CASE WHEN processState = 'C' THEN 1 ELSE 0 END) = 0 THEN NULL
		        ELSE ROUND(
		            AVG(CASE 
		                WHEN processState = 'C' AND completeDt IS NOT NULL
		                THEN 
		                    CASE 
		                        WHEN DATEDIFF(DAY, requestDate, completeDt) = 0 THEN 1
		                        ELSE DATEDIFF(DAY, requestDate, completeDt)
		                    END
		                ELSE NULL 
		            END), 
		            1
		        )
		    END AS avgProcessDays
		
		FROM board b
	  	  				 
	<where>
	    b.deleteYn = 'N'
	    
	    <if test="manager != null and manager != ''">
	        AND b.manager LIKE '%' + #{manager} + '%'
	    </if>
	    		
	    <if test="startDate != null and startDate != ''">
	        AND b.requestDate >= #{startDate}
	    </if>
	    
	    <if test="endDate != null and endDate != ''">
	        AND
	         b.requestDate &lt;= #{endDate}
	    </if>
	    
	    <if test="sub != null and sub != ''">
	        AND b.sub LIKE '%' + #{sub} + '%'
	        
	    </if>	
	    
	    <if test="status != null and status != ''">
	        AND b.processState LIKE '%' + #{status} + '%'
	    
	    </if>
	    
	    <if test="dpId != null and dpId != '' and dpId != 'SPH220007'">
        	AND b.dpId LIKE '%' + #{dpId} + '%'
    	</if>  
    	
	    <if test="division != null and division != ''">
	        AND b.division LIKE '%' + #{division} + '%'	        
	    </if>		
	

	     	
	</where>

	</select>
	
	
	
	<select id="getDashBoardMonthlyTotal" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="map">
		SELECT
		    YEAR(b.requestDate) AS year_val,
		    MONTH(b.requestDate) AS month_val,
		    CASE MONTH(b.requestDate)
		        WHEN 1 THEN '1월'
		        WHEN 2 THEN '2월'
		        WHEN 3 THEN '3월'
		        WHEN 4 THEN '4월'
		        WHEN 5 THEN '5월'
		        WHEN 6 THEN '6월'
		        WHEN 7 THEN '7월'
		        WHEN 8 THEN '8월'
		        WHEN 9 THEN '9월'
		        WHEN 10 THEN '10월'
		        WHEN 11 THEN '11월'
		        WHEN 12 THEN '12월'
		    END AS month_name,
		    COUNT(*) AS total_count
		FROM board b
	<where>
	    b.deleteYn = 'N'
	    
	    <if test="startDate != null and startDate != ''">
		    AND b.requestDate >= #{startDate}
	    </if>
	    <if test="endDate != null and endDate != ''">
	  	  AND b.requestDate &lt;= #{endDate}
	    </if>
	    <if test="manager != null and manager != ''">
	   	  AND b.manager LIKE '%' + #{manager} + '%'
	    </if>
	    <if test="sub != null and sub != ''">
	   	  AND b.sub LIKE '%' + #{sub} + '%'
	    </if>
	    <if test="status != null and status != ''">
	  	  AND b.processState LIKE '%' + #{status} + '%'
	    </if>
	    
		<if test="inStatus != null and inStatus.size() > 0">
		  AND b.processState IN
		  <foreach item="status" collection="inStatus" open="(" separator="," close=")">
		    #{status}
		  </foreach>
		</if>
	    
	    <if test="division != null and division != ''">
	  	  AND b.division LIKE '%' + #{division} + '%'
	    </if>    	   
	</where>
		GROUP BY YEAR(b.requestDate), MONTH(b.requestDate)
		ORDER BY YEAR(b.requestDate), MONTH(b.requestDate)
	</select>
</mapper>

