<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.connectBoard.repository.spc.RequireRepository">
	
	<!-- 검색 조건에 따른 요청 목록 조회 -->
	<select id="searchRequiresByCriteria" parameterType="com.example.connectBoard.dto.RequireSearchCriteria" resultType="com.example.connectBoard.dto.RequireDTO">
		SELECT
		    b.seq,
		    b.sub,
		    b.division,
		    b.context,
		    b.uId,
		    b.usem,
			b.processState,
			c.codeName AS statusNm,	    
			b.manager,
			b.managerId,
			b.managerTel,
			b.managerEmail,
		    b.requestDate,
		    b.completeDate,
		    b.srFlag,
		    b.saveFlag	   	
		FROM board b inner join code_master c
		 on b.processState = c.codeId					
	<where>
	    <if test="manager != null and manager != ''">
	        b.manager LIKE '%' + #{manager} + '%'
	    </if>
	    <if test="startDate != null and startDate != ''">
	        AND b.requestDate >= #{startDate}
	    </if>
	    <if test="endDate != null and endDate != ''">
	        AND b.requestDate &lt;= #{endDate}
	    </if>
	    <if test="sub != null and sub != ''">
	        AND b.sub LIKE '%' + #{sub} + '%'
	        <!-- AND b.projectName LIKE '%' + ? + '%' COLLATE SQL_Latin1_General_CP1_CI_AS -->
	    </if>	
	    <if test="status != null and status != ''">
	        AND b.processState LIKE '%' + #{status} + '%'
	        <!-- AND b.projectName LIKE '%' + ? + '%' COLLATE SQL_Latin1_General_CP1_CI_AS -->
	    </if>	    
	</where>
		ORDER BY b.seq DESC
	</select>
	

	<!-- 게시글 등록2 -->	
	<insert id="insertRequire" 
	         parameterType="com.example.connectBoard.dto.RequireDTO"
	         useGeneratedKeys="true" 
	         keyProperty="seq" 
	         keyColumn="seq">	
        INSERT INTO board (
            sub,
            etc,
            division,
            requestDate,
            insertDt,
            updateDt,
            writerId,
            uId,
            manager,
            managerId,
            managerTel,
            managerEmail
        ) VALUES (
            #{sub, jdbcType=VARCHAR},
            #{etc, jdbcType=VARCHAR},
            #{division, jdbcType=VARCHAR}, 
            GETDATE(),
            GETDATE(),
            GETDATE(),
            #{writerId, jdbcType=VARCHAR},
            #{uId, jdbcType=VARCHAR},
            #{manager, jdbcType=VARCHAR},
            #{managerId, jdbcType=VARCHAR},
            #{managerTel, jdbcType=VARCHAR},
            #{managerEmail, jdbcType=VARCHAR}
    	)
    	
	</insert>	

	
	<!-- ✅ 모든 데이터 조회1212 -->
	<select id="getAllRequires" resultType="com.example.connectBoard.dto.RequireDTO">
		select
			seq,
			sub,
			context,
			taskName,
			help,
			necessity,
			effect,
			module,
			beforeTaskContent,
			afterTaskContent,
			useDept,
			attachDoc,
			requestDate,
			acceptDate,
			completeRequestDate,
			completeDate,
			etc,
			uId,
			usem,
			dpId,
			dpDn,
			manager,
			managerId,
			managerTel,
			managerEmail,
			division,
			processState,
			saveFlag,
			srFlag,
			docNum,
			insertDt,
			updateDt,
			completeDt
		from board;
		
	</select>
	
	<!-- ✅ 특정 SEQ 데이터 조회 -->
	<select id="getRequire" parameterType="int" resultType="com.example.connectBoard.dto.RequireDTO">
		select
			seq,
			sub,
			context,
			taskName,
			help,
			necessity,
			effect,
			module,
			beforeTaskContent,
			afterTaskContent,
			useDept,
			attachDoc,
			requestDate,
			acceptDate,
			completeRequestDate,
			completeDate,
			etc,
			uId,
			writerId,
			usem,
			dpId,
			dpDn,
			manager,
			managerId,
			managerTel,
			managerEmail,
			division,
			processState,
			saveFlag,
			srFlag,
			docNum,
			insertDt,
			updateDt,
			completeDt
		from board
		where seq = #{seq};
	</select>

	<update id="updateForm" parameterType="com.example.connectBoard.dto.RequireDTO">
   		UPDATE board 
    	SET sub = #{sub},
    		etc = #{etc},
    		manager = #{manager},
    		managerId = #{managerId},
    		managerEmail = #{managerEmail},
    		managerTel = #{managerTel},
    		saveFlag = 'Y'
    	WHERE seq = #{seq};
	</update>
	
	<update id="updateSrForm" parameterType="com.example.connectBoard.dto.RequireDTO">
   		UPDATE board 
    	SET sub = #{sub},
    		taskName = #{taskName},
    		help = #{help},
    		necessity = #{necessity},
    		effect = #{effect},
    		module = #{module},
    		beforeTaskContent = #{beforeTaskContent},
    		afterTaskContent = #{afterTaskContent},
    		useDept = #{useDept},
    		attachDoc = #{attachDoc},
    		requestDate = #{requestDate},
    		acceptDate = #{acceptDate},
    		completeRequestDate = #{completeRequestDate},
    		completeDate = #{completeDate},
    		saveFlag = 'Y',
    		etc = #{etc}
    	WHERE seq = #{seq};
	</update>
</mapper>

