<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.connectBoard.repository.spc.StatusRepository">

	<!--접수 상태 List-->
    <select id="getAllStatuses" parameterType="com.example.connectBoard.dto.CommentDTO">   
		SELECT 
			codeId, 
			codeName, 
			codeDesc, 
			category, 
			parentCodeId, 
			useYn, 
			orderNum,
			insertDt, 
			updateDt			
		FROM code_master 
		ORDER BY orderNum;
    </select>

	<update id="updateStatus" parameterType="com.example.connectBoard.dto.RequireDTO">
   		UPDATE board 
    	SET processState = #{processState},
    		srFlag = 'Y'
    	WHERE seq = #{seq} 
    	
	</update>
</mapper>

